h1 {
	font-size: 60px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* #pic {
	background-color: blue;
	background-image: url("ocean.jpg");
	background-size: 100%;
	opacity: 0.2;
} */

#pic {
	/* width: 100vmax;
    height: 100vmax; */
	border: 2px solid black;
	padding: 25px;
	background-repeat: no-repeat;
	/* background-size: auto; */
	background-size: 80rem;
	display: block;
	position: relative;
}

#pic::after {
	content: "";
	background: url(ocean.jpg);
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
