.App {
  text-align: center;
}

.Title {
  border: solid;
  border-color: blue;
  border-width: 4px;
  background-color: #0f4755;
  min-height: 15vh;
  display: flex;
  color: rgb(175, 170, 170);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Navbar {
  border: solid;
  border-color: rgb(173, 17, 77);
  border-width: 4px;
  background-color: #580b45;
  min-height: 15vh;
  display: flex;
  color: rgb(175, 170, 170);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.LeftPanel {
  float: left;
  border: solid;
  border-color: rgb(42, 110, 21);
  border-width: 4px;
  background-color: #55480f;
  min-height: 15vh;
  display: flex;
  color: rgb(175, 170, 170);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.SectionA {
  border: solid;
  float: right;
  border-color: rgb(143, 13, 13);
  border-width: 4px;
  background-color: #4e550f;
  min-height: 15vh;
  display: flex;
  color: rgb(175, 170, 170);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.SectionB {
  border: solid;
  float: right;
  border-color: rgb(44, 22, 38);
  border-width: 4px;
  background-color: #0dc535;
  min-height: 15vh;
  display: flex;
  color: rgb(175, 170, 170);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Foot {
  border: solid;
  border-color: rgb(20, 10, 16);
  border-width: 4px;
  background-color: #117b96;
  min-height: 15vh;
  display: flex;
  color: rgb(175, 170, 170);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
