.App {
  text-align: center;
}

body {
  padding: 1em;
}

#h1 {
  text-align: center;
}

.App-mathComp {
  color: white;
  margin: auto;
  width: 25%;
  height: 80%;
  padding: 5px;
  align-content: center;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 12px solid #000000;
}
.App-city {
  color: white;
  margin: auto;
  width: 80%;
  height: 80%;
  padding: 5px;
  align-content: flex-start;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 12px solid #000000;
}

.App-acctComp {
  color: white;
<<<<<<< HEAD
  margin: auto;
  width: 25%;
  height: 80%;
  padding: 5px;
  align-content: center;
  -webkit-box-shadow: 20px 14px 5px 0px rgba(40, 9, 125, 0.75);
  -moz-box-shadow: 20px 14px 5px 0px rgba(231, 126, 0, 0.75);
  box-shadow: 20px 14px 5px 0px rgba(0, 0, 0, 0.75);
}

.App-acctTable {
  margin: auto;
}
.OpenInputs {
  background-color: rgb(197, 191, 191);
  border: solid;
  size: 10;
  color: black;
  padding: 5px 5px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: calc(2vmin);
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.App-acctCompLong {
  color: white;
  margin: auto;
  justify-content: center;
  align-content: center;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  -webkit-box-shadow: 20px 14px 5px 0px rgba(7, 204, 89, 0.75);
  -moz-box-shadow: 20px 14px 5px 0px rgba(231, 126, 0, 0.75);
  box-shadow: 20px 14px 5px 0px rgba(0, 0, 0, 0.75);
}

=======
  /* margin: auto; */
  width: 25%;
  height: 80%;
  padding: 10px;
  align-content: center;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 12px solid #000000;
  /* display: inline-block; */

  display: inline-flex;
  flex-direction: row;
  margin: 4px 8px;
}

.OpenInputs {
  background-color: rgb(197, 191, 191);
  border: solid;
  size: 10;
  color: black;
  padding: 5px 5px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: calc(2vmin);
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.CityInputs {
  background-color: rgb(197, 191, 191);
  border: solid;
  size: 7;
  color: black;
  padding: 5px 5px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: calc(2vmin);
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/* .CreateArray {
  display: inline-flex;
  flex-direction: row;
} */

.App-acctCompLong {
  color: white;
  margin: auto;
  justify-content: center;
  align-content: center;
  display: inline-flex;
  flex-direction: row;
  width: 96%;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 12px solid #000000;
}

>>>>>>> ce5400e42a445aa09eb8e014d59e7144f3466829
.ClearInput {
  color: rgb(48, 18, 45);
}
.Round {
  color: black;
  border: solid 2px;
  background-color: rgb(43, 247, 16);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 12px;
  cursor: pointer;
  border-radius: 50%;
}

<<<<<<< HEAD
=======
.Create {
  color: black;
  border: solid 2px;
  background-color: rgb(43, 247, 16);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 12px;
  cursor: pointer;
  border-radius: 100%;
}
>>>>>>> ce5400e42a445aa09eb8e014d59e7144f3466829
.MinMaxInputs {
  background-color: transparent;
  border: rgb(46, 20, 119);
  color: white;
  text-align: center;
}
input::placeholder {
<<<<<<< HEAD
  color: rgb(66, 173, 223);
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

.CenterForm {
  align-content: center;
}
.LayoutParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}
.LayoutChild {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
=======
  color: rgb(7, 144, 202);
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

.CenterForm {
  align-content: center;
}
.LayoutParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}
.LayoutChild {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
>>>>>>> ce5400e42a445aa09eb8e014d59e7144f3466829
.App-logo-sm {
  width: 5vmin;
  height: 6vmin;
  pointer-events: auto;
  padding-right: 2px;
  padding-left: 2px;
}

.App-logo-lg {
  animation: App-logo-spin infinite 5s linear;
  height: 30vmin;
  pointer-events: auto;
  padding-right: 2px;
  padding-left: 2px;
}
.App-img {
  width: 5vmin;
  height: 5vmin;
  padding-right: 4px;
  pointer-events: auto;
  padding-right: 2px;
  padding-left: 2px;
}

.App-top {
  /* background: #5a0a3f; */
  /* border: solid 2px black; */
  padding: 0px;
  max-height: 40px;
}
.App-main {
  background: #c015b2;
  padding: 0px;
  max-height: 10%;
}
.App-defaultbody {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  /* background-color: rgb(46, 20, 119); */
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 12px solid #000000;
}

.App-link {
  color: #b7f01a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
